:root {
    font-family: Roboto Slab, serif;
}

* {
    margin: 0;
}

body {
    background-color: #A6BF49;
}

header {
    background-color: #C4D486;
    box-shadow: 2px 2px 5px #6C6C6C;
}

.main-banner-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5%;
    box-shadow: 2px 2px 5px #6C6C6C;
}

label.toggle {
    cursor: pointer;
}

.toggle {
    display: none;
}

#hamburger {
    margin: 5%;
}

#menu-toggle:checked ~ .toggle.default-hidden,
#menu-toggle:checked ~ * .toggle.default-hidden,
#menu-toggle:not(:checked) ~ .toggle.default-shown,
#menu-toggle:not(:checked) ~ * .toggle.default-shown {
    display: block;
}

.grid {
    display: grid;
    grid-template-columns: 10% 80% 10%;
}

.sponsors {
    grid-column: 2 / 2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sponsor {
    margin: 5% 0%
}

.important {
    font-weight: bold;
}

#grid {
    display: grid;
    grid-template-columns: 10% 80% 10%;
}



.formular {
    grid-column: 2 / 2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10% auto;
    height: 570px;
}

#name, #surname, #email, #number, #comment, #submit{
    margin: 0 auto 5% auto;
    padding: 2%;
    width: 100%;
}

#comment {
    height: 40%;
    margin-bottom: 0;
}

h1 {
    font-size: 20pt;
    color: #4D591B;
    text-align: center;
    margin-top: 5%;
}

h2, p {
    margin: 2% 5%;
    z-index: 2;
}

h2 {
    font-size: 15pt;
    color: #4D591B;
    text-align: center;
}

p {
    font-size: 12pt;
    text-align: center;
}