:root {
    font-family: Roboto Slab, serif;
}

* {
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    background: linear-gradient(to bottom, #A6BF49, #C4D486);
}

header {
    background-color: #C4D486;
    box-shadow: 2px 2px 5px #6C6C6C;
}

.main-banner-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5%;
    box-shadow: 2px 2px 5px #6C6C6C;
}

#steinbock {
    margin-top: 30%;
}

.dreigestirn {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 5%;
}

#startseite {
    margin-top: 30%;
    z-index: 2;
}

#hasliberg {
    margin-top: 5%;
    z-index: 2;
}

label.toggle {
    cursor: pointer;
}

.toggle {
    display: none;
}

#hamburger {
    margin: 5%;
}

#menu-toggle:checked ~ .toggle.default-hidden,
#menu-toggle:checked ~ * .toggle.default-hidden,
#menu-toggle:not(:checked) ~ .toggle.default-shown,
#menu-toggle:not(:checked) ~ * .toggle.default-shown {
    display: block;
}

h1 {
    font-family: Euphoria Script, serif;
    font-size: 40pt;
    color: #043959;
    text-align: center;
    margin-bottom: 5%;
}

h2 {
    font-size: 20pt;
    color: #4D591B;
    text-align: center;
}